<form method="POST" enctype=multipart/form-data action="upload">
	Название магазина<input type="text" name="store"/>
	<br>
	Сайт магазина<input type="text" name="site"/>
	<br>
	Название товара<input type="text" name="good"/>
	<br>
	Изображение<input type="file" name="image"/>
	<br>
	Описание товара<input type="text" name="description"/>
	<br>
	Промокод<input type="text" name="promocode"/>
	<br>
	Дата начала акции<input type="date" name="stdate"/>
	<br>
	Дата окончания акции<input type="date" name="edate"/>
	<br>
	<input type="submit">
</form>
	
<h1>Promocodes - web app using aws ec2, rds, s3</h1>
